extends layout



append head-title

    title Awesome UI

append head-styles

    link(rel='stylesheet', href='styles/index.css')



append body

    div.b-app: block app

        div.b-app__over

            div over

        div.b-app__view

            div.b-app__head: block app-head

                .row

                    .col.col-xs-12

                        div 12

            div.b-app__body: block app-body

                .row

                    .col.col-xs-12

                        div 12

            div.b-app__foot: block app-foot

                .row

                    .col.col-xs-12

                        div 12
